<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/pricelist.css}"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Cennik Biletów - Horizon Cinema</title>
    </head>
    <body>

    <div th:replace="fragments/header :: header"></div>

    <main class="pricelist-page-content">

        <section class="pricelist-section">
            <div class="pricelist-title">
                <h1>CENNIK BILETÓW</h1>
            </div>
            <div class="pricelist-container">
                <table class="price-table">
                    <thead>
                    <tr>
                        <th>Rodzaj biletu</th>
                        <th>Cena</th>
                    </tr>
                    </thead>
                    <tbody th:each="price : ${priceList}">
                    <tr>
                        <td th:text="${price.type}"></td>
                        <td th:text="${price.priceValue} + zł"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section th:replace="/fragments/parnters-info :: section"></section>

        <section th:replace="/fragments/contact-info :: section"></section>

    </main>

    <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>