<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/programme.css}"/>
        <title>Repertuar - Horizon Cinema</title>
    </head>
    <body id="programme-page">

        <div th:replace="fragments/header :: header"></div>

        <main class="programme-content">

            <form id="change-date-form" class="date-choice-container" method="get" th:action="@{/programme}">
                <div>
                    <div class="programme-header">
                        <p th:text="${selectedDate}">REPERTUAR NA DZIEŃ: </p>
                    </div>

                    <div class="change-date-buttons-container">
                        <button id="change-date-button-left" type="submit" name="selectedDate"  th:value="${selectedDate.minusDays(1)}">
                            <img th:src="@{/images/arrow-L.png}" alt="Previous" style="width: 25px; height: 25px;">
                        </button>

                        <button id="change-date-button-right" type="submit" name="selectedDate"  th:value="${selectedDate.plusDays(1)}">
                            <img th:src="@{/images/arrow-R.png}" alt="Next" style="width: 25px; height: 25px;">
                        </button>
                    </div>
                </div>

                <input type="text" id="filter-title" placeholder="Szukaj po tytule..." onkeyup="filterTable()">
                <input th:value="${selectedDate}" name="selectedDate" type="date" id="calender-input" onchange="submitForm()">
            </form>

            <div id="no-movies" th:if="${programmeList == null or programmeList.isEmpty()}">
                W tym dniu nie ma filmów
            </div>

            <section class="programms-section" th:each="movie1 : ${movies}">

                <div class="movie-container">
                    <img loading="lazy" class="movie-img" th:src="'data:image/jpeg;base64,' + ${movie1.base64Image}">
                    <div class="movie-summary">
                        <h1 th:text="${movie1.title}"></h1>
                        <p th:text="${movie1.description}"></p>


                        <div class="showtime-button-container">
                            <a th:each="programme : ${programmeList}" th:if="${programme.movie.idmovie.equals(movie1.idmovie)}"
                               th:href="@{/reservation(id=${programme.idprogramme})}">
                                <button class="showtime-button" th:text="${programme.time}"></button>
                            </a>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <div th:replace="fragments/footer :: footer"></div>

    <script>
        function submitForm() {
            document.getElementById('change-date-form').submit();
        }
    </script>
    </body>
</html>