<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/programme.css}"/>
        <title>Repertuar - Horizon Cinema</title>
    </head>
    <body id="programme-page">

        <div th:replace="fragments/header :: header"></div>

        <main class="programme-content">

            <section class="date-choice-container">
                <div>
                    <div class="programme-header">
                        <p th:text="${selectedDate}">REPERTUAR NA DZIEŃ: </p>
                    </div>

                    <div class="change-date-buttons-container">
                        <button id="change-date-button-left" type="submit" name="selectedDate"  th:value="${selectedDate.minusDays(1)}"></button>
                        <button id="change-date-button-right" type="submit" name="selectedDate"  th:value="${selectedDate.plusDays(1)}"></button>
                    </div>
                </div>

                <input type="text" id="filter-title" placeholder="Szukaj po tytule..." onkeyup="filterTable()">
                <input th:value="${selectedDate}" name="selectedDate" type="date" id="calender-input">
            </section>

            <section class="programms-section" th:each="movie : ${movieList}">

                <div class="movie-container">
                    <img class="movie-img" th:src="${movie.imageAddress}">
                    <div class="movie-summary">
                        <h1 th:text="${movie.title}"></h1>
                        <p th:text="${movie.description}"></p>


                        <div class="showtime-button-container">
                            <a th:each="programme : ${programmeList}" th:if="${programme.movie.equals(movie)}"
                               th:href="@{/reservation/{id}(id=${programme.idprogramme})}">
                                <button class="showtime-button" th:text="${programme.time}"></button>
                            </a>
                        </div>

                    </div>
                </div>

            </section>
        </main>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>