<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/reservation-data.css}"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Dane do rezerwacji - Horizon Cinema</title>
    </head>
    <body>

    <div th:replace="fragments/header :: header"></div>

    <main class="reservation-data-content">
        <form class="reservation-data-form" method="post" th:action="@{/reservation/data}">
            <div class="ticket-type-container">
                <div class="ticket-type-header">
                    <p>WYBIERZ TYP BILETU</p>
                </div>
                <table class="ticket-type-table">
                    <thead>
                        <tr>
                            <th>MIEJSCE</th>
                            <th>TYP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket, itemStat : ${reservationDto.tickets}">
                            <td th:text="${ticket.seat.row} + ' ' + ${ticket.seat.number}"></td>
                            <td th:each="price : ${priceList}">
                                <label th:text="${price.type}"></label>
                                <input type="radio"
                                       th:field="*{reservationDto.tickets[__${itemStat.index}__].ticketType}"
                                       th:value="${price.type}">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span th:if="${errorMessage}"
                      th:text="${errorMessage}" style="color: red">
                </span>
            </div>
            <div class="personal-data-container">
                <div class="personal-data-header">
                    <p>DANE OSOBOWE</p>
                </div>

                <div class="personal-data-inputs-container">
                    <div class="personal-data-form-group">
                        <label>IMIĘ</label>
                        <input type="text" th:field="*{reservationDto.clientName}" placeholder="IMIĘ">

                        <span th:if="*{#fields.hasErrors('reservationDto.clientName')}"
                        th:errors="${reservationDto.clientName}" style="color: red">
                        </span>

                    </div>
                    <div class="personal-data-form-group">
                        <label>NAZWISKO</label>
                        <input type="text" th:field="*{reservationDto.clientSurname}" placeholder="NAZWISKO">

                        <span th:if="*{#fields.hasErrors('reservationDto.clientSurname')}"
                              th:errors="${reservationDto.clientSurname}" style="color: red">
                        </span>
                    </div>
                    <div class="personal-data-form-group">
                        <label>E-MAIL</label>
                        <input type="email" th:field="*{reservationDto.clientAddressEmail}"  placeholder="E-MAIL">

                        <span th:if="*{#fields.hasErrors('reservationDto.clientAddressEmail')}"
                              th:errors="${reservationDto.clientAddressEmail}" style="color: red">
                        </span>
                    </div>
                    <div class="personal-data-form-group">
                        <label>POWTÓRZ E-MAIL</label>
                        <input type="email" th:field="*{reservationDto.confirmedClientAddressEmail}" placeholder="POWTÓRZ E-MAIL">

                        <span th:if="${emailErrorMessage}"
                              th:text="${emailErrorMessage}" style="color: red">
                        </span>

                        <span th:if="*{#fields.hasErrors('reservationDto.confirmedClientAddressEmail')}"
                              th:errors="${reservationDto.confirmedClientAddressEmail}" style="color: red">
                        </span>
                    </div>
                    <div class="personal-data-form-group">
                        <label>NUMER TELEFONU KOMÓRKOWEGO</label>
                        <input type="tel" th:field="*{reservationDto.clientPhoneNumber}" placeholder="NR TEL KÓMRKOWEGO">

                        <span th:if="*{#fields.hasErrors('reservationDto.clientPhoneNumber')}"
                              th:errors="${reservationDto.clientPhoneNumber}" style="color: red">
                        </span>
                    </div>
                </div>
            </div>

            <div class="button-container">
                <a th:href="@{/reservation(id=${reservationDto.programme.idprogramme})}" class="navigate-button">POWRÓT</a>
                <button type="submit" class="navigate-button">REZERWUJE</button>
            </div>
        </form>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>