<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/reservation-data.css}"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Dane do rezerwacji - Horizon Cinema</title>
    </head>
    <body>

    <div th:replace="fragments/header :: header"></div>

    <main class="reservation-data-content">
        <form class="reservation-data-form" method="post" th:action="@{/reservation/data}">
            <div class="ticket-type-container">
                <div class="ticket-type-header">
                    <p>WYBIERZ TYP BILETU</p>
                </div>
                <table class="ticket-type-table">
                    <tr>
                        <th>MIEJSCE</th>
                        <th>TYP</th>
                    </tr>
                    <div th:each="ticket : ${ticketList}">
                        <tr>
                            <td th:text="${ticket.seat}"></td>
                            <td>
                                <label>
                                    Normalny
                                    <input type="radio" th:name="${ticket.seat}" value="Normalny" required>
                                </label>

                                <label>
                                    Ulgowy
                                    <input type="radio" th:name="${ticket.seat}" value="Ulgowy" required>
                                </label>
                            </td>
                        </tr>

                    </div>
                </table>
            </div>
            <div class="personal-data-container">
                <div class="personal-data-header">
                    <p>DANE OSOBOWE</p>
                </div>

                <div class="personal-data-inputs-container">
                    <div class="personal-data-form-group">
                        <label for="first-name">IMIĘ</label>
                        <input type="text" id="first-name" name="first-name" placeholder="IMIĘ" required>
                    </div>
                    <div class="personal-data-form-group">
                        <label for="last-name">NAZWISKO</label>
                        <input type="text" id="last-name" name="last-name" placeholder="NAZWISKO" required>
                    </div>
                    <div class="personal-data-form-group">
                        <label for="email">E-MAIL</label>
                        <input type="email" id="email" name="email" placeholder="E-MAIL" required>
                    </div>
                    <div class="personal-data-form-group">
                        <label for="confirm-email">POWTÓRZ E-MAIL</label>
                        <input type="email" id="confirm-email" name="confirm-email" placeholder="POWTÓRZ E-MAIL" required>
                    </div>

                    <div class="personal-data-form-group">
                        <label for="phone-number">NUMER TELEFONU KOMÓRKOWEGO</label>
                        <input type="tel" id="phone-number" name="phone-number" placeholder="NR TEL KÓMRKOWEGO" required>
                    </div>
                </div>
            </div>

            <div th:if="${errorMessage != null}">
                <p th:text="${errorMessage}" style="color: red;"></p>
            </div>

            <div class="button-container">
                <button th:href="@{/reservation/{id}(id=${idprogramme})}" class="navigate-button">POWRÓT</button>

                <button type="submit" class="navigate-button">REZERWUJE</button>
            </div>
        </form>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>