<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Podsumowanie rezerwacji - Horizon Cinema</title>
    </head>
    <body>

        <div th:replace="fragments/header :: header"></div>

        <main class="reservation-summary-content">
            <section class="summary-data-container">
                <div class="summary-header">
                    <p>PODSUMOWANIE</p>
                </div>

                <div class="row-data-container">
                    <p th:text="${programme.movie.title}"></p>
                    <p th:text="${date} + ' ' + ${time}"></p>
                </div>
                <div class="row-data-container">
                    <p th:text="${reservation.clientName}"></p>
                    <p th:text="${reservation.clientSurname}"></p>
                </div>
                <div class="row-data-container">
                    <p th:text="${reservation.clientAddressEmail}"></p>
                    <p th:text="${reservation.clientPhoneNumber}"></p>
                </div>
                <div class="row-data-container">
                    <p>CENA: </p>
                    <p th:text="${price}"></p>
                </div>

            </section>

            <form method="post" th:action="@{/reservation/summary}" class="button-container">
                <button th:href="@{/reservation/data}" class="navigate-button">POWRÓT</button>
                <button type="submit" class="navigate-button">POTWIERDŹ</button>
            </form>

            <div th:if="${errorMessage != null}">
                <p th:text="${errorMessage}" style="color: red;"></p>
            </div>
        </main>

        <div th:replace="/fragments/footer :: footer"></div>

    </body>
</html>