<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/reservation.css}"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>Rezerwacja - Horizon Cinema</title>
    </head>
    <body>

    <div th:replace="fragments/header :: header"></div>

    <main class="reservation-content">
        <div class="selected-movie-info">
            <img class="selected-movie-img" th:src="'data:image/jpeg;base64,' + ${programmeDto.movieBase64Image}">
            <div class="selected-movie-title-date">
                <p id="title" th:text="${programmeDto.movieTitle}"></p>
                <p th:text="${programmeDto.date + ' godzina ' + programmeDto.time}"></p>
            </div>
        </div>
        <section class="seats-choice-section">
            <div class="cinema-scene">
                <p>SCENA</p>
            </div>
            <form class="cinema-hall-form-container" method="post" th:action="@{/reservation}" th:object="${seatsForm}">

                <div class="seats-container">
                    <table>
                        <tbody>
                        <tr th:each="rowName : ${#sets.toSet(seats.![row])}">
                            <td class="row" th:text="${rowName}"></td>
                            <td class="seat" th:each="seat, iterStat: ${seats}" th:if="${seat.row == rowName}">

                                <div th:if="!${seat.booked}">

                                    <input type="hidden" th:field="*{seats[__${iterStat.index}__].idseat}" th:value="${seat.idseat}">
                                    <input type="hidden" th:field="*{seats[__${iterStat.index}__].row}" th:value="${seat.row}">
                                    <input type="hidden" th:field="*{seats[__${iterStat.index}__].number}" th:value="${seat.number}">
                                    <input type="hidden" th:field="*{seats[__${iterStat.index}__].booked}" th:value="${seat.booked}">
                                    <input class="seat-checkbox"
                                          type="checkbox"
                                          th:field="*{seats[__${iterStat.index}__].chosen}">

                                    <span th:text="${seat.number}"></span>
                                </div>

                                <div th:if="${seat.booked}">
                                    <input class="seat-reserved-checkbox"
                                           type="checkbox"
                                           checked="checked"
                                           disabled>
                                    <span th:text="${seat.number}"></span>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div th:if="${errorMessage}">
                    <p th:text="${errorMessage}" style="color: red;"></p>
                </div>

                <div class="seats-legend">
                    <p>Legenda</p>
                    <div class="seats-type">
                        <div class="seats-type-square" id="seat-choosen"></div>
                        <p>wybrane</p>
                        <div class="seats-type-square" id="seat-free"></div>
                        <p>wolne</p>
                        <div class="seats-type-square" id="seat-reserved"></div>
                        <p>zajete</p>
                    </div>
                </div>

                <div class="button-container">
                    <a th:href="@{/programme(id=${programmeDto.id})}" class="navigate-button">POWRÓT</a>
                    <button type="submit" class="navigate-button">DALEJ</button>
                </div>
            </form>
        </section>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>