.repertuar-container {
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto auto 50px;
}

h1 {
    text-align: center;
}

.filters {
    display: flex;
    justify-content: center;
    gap:20px;
}

.filters input, .filters select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color:  #ff6868;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit {
    background-color: #7b7b7b72;
    color: black;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-add {
    display: block;
    width: max-content;
    margin: 10px auto;
    margin-top: 30px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.dialog-input {
    width: 168px;
}
