.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    gap: 20px;
    background-color: rgba(213, 213, 213, 0.248);
    box-shadow: 0 4px 10px rgba(78, 78, 78, 0.286);
}

.search-bar-container div {
    flex-grow: 1;
    text-align: center;
}


.add-movie-button{
    margin-right: 20px;
    background: #1db448;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-movie-button:hover {
    background: #1dab45ae;
}

.add-movie-button:active {
    background: #168a39;
}

.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px;
    margin-bottom: 100px;
}

.movie-img {
    width: 300px;
}

.movie-data {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    border-image: linear-gradient(to right, #000000, transparent) 1;
}

.movie-summary {
    width: 600px;
}

.edit-button-container {
    margin-top: 250px;
    gap:20px;
    display: flex;
}

