/* BODY & HTML */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN */
main {
    flex-grow: 1;
}


/*HEADER*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000ec;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    gap: 20px;
}

.cinema-name {
    color: white;
    font-size: 50px;
    display: flex;
    align-items: end;
    margin-bottom: 5px;
}

.header-logo-img {
    height: 100px;
    width: 100px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-nav ul li {
    display: inline;
}

.header-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.header-nav ul li a:hover {
    color: #ff6868;
}

/*FOOTER*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000ec;
    padding: 10px;
}

.footer-content {
    color: white;
    padding: 10px;
}


/*CONTACK-INFO*/

.contact-info-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap:5px
}

/*PARTNER_INFO*/

.partnership-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    background-color: rgba(45, 45, 45, 0.353);
}

.partnership-info-title {
    color: white;
    font-weight: lighter;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.partner-logo-image {
    background-color: white;
    width: 400px;
    height: 250px;
    box-shadow: 0 4px 10px rgb(41, 41, 41);
}

/* BUTTONS */

.button-container {
    display: flex;
    gap: 30px;
    padding: 30px;
}

.navigate-button {
    background: #ff6868;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navigate-button:hover {
    background: #ff4949;
}

.navigate-button:active {
    background: #e63e3e;
}

/*DIALOG*/

.edit-dialog {

    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow:
            0 4px 8px rgba(0, 0, 0, 0.1),
            0 6px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.edit-dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.edit-dialog h1 {
    color: rgb(76, 74, 74);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow:
            0 4px 8px rgba(0, 0, 0, 0.1),
            0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    gap:30px;
    padding: 20px;
    color: #424141;
}


.inputs-labels-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    padding: 10px;
    gap: 20px;
}

.inputs-labels-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inputs-labels-container label {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

.inputs-labels-container input {
    flex: 1;
    min-width: 60px;
    max-width: 200px;
}

html {
    scroll-behavior: smooth;
}

/*ERROR PAGE*/

.error-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/*LOGIN*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 400px;
    padding: 25px;
    box-shadow:
            0 4px 8px rgba(0, 0, 0, 0.1),
            0 6px 20px rgba(0, 0, 0, 0.1);
    gap: 50px;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

.login-form p, .login-form input {
    width: 100%;
    margin: 10px 0;
}

.login-form p {
    text-align: left;
}

.login-form input {
    padding: 5px;
}
