.main-page-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

.movie-info-box-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    color: white;
    padding: 50px;
    margin-bottom: 50px;
}

.movie-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
    height: 650px;
    flex-wrap: nowrap;
    border-radius: 5px;
    cursor: pointer;

}

.movie-info:hover {
    box-shadow: 0 8px 20px rgba(61, 61, 61, 0.988);
}

.movie-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(41, 41, 41);
    transition: box-shadow 0.3s ease;
    width: 100%;
}

.movie-info-type{
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 25px;
}

.movie-image {
    width: 100%;
    height: 500px;
}

.movie-title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
}



