.main-page-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

.movie-info-box-section {
    display: flex;
    color: white;
}

.movie-gallery {
    width: 1200px;
    display: flex;
    overflow-x: scroll;
}

.movie-gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.movie-gallery div img {
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.movie-gallery::-webkit-scrollbar {
    display: none;
}

.movie-gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

#nextBtn, #backBtn {
    width: 50px;
    cursor: pointer;
    margin: 60px;
}

.movie-gallery img:hover {
    cursor: pointer;
    transform: scale(1.1);
}