<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="logo-container">
        <img class="header-logo-img" th:src="@{/images/cinema-logo.jpeg}" alt="Logo">
        <h1 class="cinema-name">HORIZON<span style="color:#ff6868">CINEMA</span></h1>
    </div>

    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input class="navigate-button" type="submit" value="Wyloguj"/>
        </form>
    </div>

</header>
</body>
</html>