<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <section id="contact-info" class="contact-info-section">
        <h2 class="contact-cinema-name">HORIZON<span style="color:#ff6868">CINEMA</span></h2>
        <div class="contact-info">
            <p>KONTAKT</p>
            <p>Horizon Cinema Białystok <br> Centrum Handlowe Alfa <br> ul.Świętojańska 15, 15-277 Białystok <br><br> E-mail: horizon.cinema@gmail.com <br><br> Telefon: 999-111-909</p>
        </div>
    </section>
</body>
</html>