<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header>
        <div class="logo-container">
            <img class="header-logo-img" th:src="@{/image/cinema-logo.jpeg}" alt="Logo">
            <h1 class="cinema-name">HORIZON<span style="color:#ff6868">CINEMA</span></h1>
        </div>

        <nav class="header-nav">
            <ul>
                <li><a th:href="@{/mainpage}">STRONA GŁÓWNA</a></li>
                <li><a th:href="@{/programme}">REPERTUAR</a></li>
                <li><a th:href="@{/pricelist}">CENNIK</a></li>
                <li><a th:href="@{/mainpage#contact-info}">KONTAKT</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>