<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit-programme.css}"/>
    <title>Repertuar - Horizon Cinema</title>
</head>
<body>

    <div th:replace="/fragments/admin-header :: header"></div>

    <main class="programme-content">

        <div class="repertuar-container">
            <h1>Zarządzanie Repertuarem Kina</h1>

            <div class="filters">
                <input type="text" id="filter-title" placeholder="Szukaj po tytule..." onkeyup="filterTable()">
                <input type="date" id="filter-date" onchange="filterTable()">
                <select id="filter-hall" onchange="filterTable()">
                    <option value="">Wszystkie sale</option>
                    <option th:each="cinemaHall : ${cinemaHalls}" th:value="${cinemaHall.name}" th:text="'Sala ' + ${cinemaHall.name}"></option>
                </select>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Film</th>
                    <th>Data</th>
                    <th>Godzina</th>
                    <th>Sala</th>
                    <th>Opcje</th>
                </tr>
                </thead>
                <tbody th:each="programme : ${programmes}">
                <tr>
                    <td th:text="${programme.movie.title}"></td>
                    <td th:text="${programme.date}"></td>
                    <td th:text="${programme.time}"></td>
                    <td th:text="${programme.cinemaHall.name}"></td>
                    <td>
                        <a class="btn btn-edit" th:href="@{/admin/programme/edit/{id}(id=${programme.idprogramme})}">Edytuj</a>
                        <a class="btn btn-delete"
                           th:href="@{/admin/programme/delete(idprogramme=${programme.idprogramme})}"
                           onclick="return confirm('Czy na pewno chcesz usunąć ten program?')">
                            Usuń
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="btn-add" th:href="@{/admin/programme/edit}">Dodaj seans</a>


            <a class="navigate-button" th:href="@{/admin}">WRÓĆ</a>

        </div>

    </main>

</body>
</html>