<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/edit-movies.css}"/>
        <title>baza filmów - Horizon Cinema</title>
    </head>
    <body>

    <div th:replace="/fragments/admin-header :: header"></div>

    <main class="movies-content">

        <div class="search-bar-container">
            <a class="navigate-button" th:href="@{/admin}">WRÓĆ</a>
            <form method="get" th:action="@{/admin/movie}" >
                <label>Wyszukaj film</label>
                <input id="search-input" type="text" name="title">
            </form>

            <a class="add-movie-button" th:href="@{/admin/movie/edit}">DODAJ NOWY FILM</a>
        </div>

        <span th:if="${editMovieError}" th:text="${editMovieError}" style="color: red"></span>

        <div class="movies" th:each="movie : ${movies}">
            <div class="movie-data">
                <img class="movie-img" loading="lazy" th:src="'data:image/jpeg;base64,' + ${movie.base64Image}">

                <div>
                    <div class="movie-summary">
                        <h1 th:text="${movie.title}"></h1>
                        <p th:text="${movie.description}"></p>
                        <p th:text="'Czas trwania: ' + ${movie.duration}"></p>
                    </div>

                    <div class="edit-button-container">
                        <button class="navigate-button"
                                th:attr="data-id=${movie.idmovie}, data-title=${movie.title}, data-image=${movie.base64Image}"
                                onclick="openDeleteDialog(this)">
                            USUŃ
                        </button>
                        <a class="navigate-button" th:href="@{/admin/movie/edit/{id}(id=${movie.idmovie})}">EDYTUJ</a>
                    </div>
                </div>
            </div>
        </div>

        <dialog id="confirm-delete-movie-dialog" class="edit-dialog">
            <form class="" method="post" th:action="@{/admin/movie/delete}">
                <input type="hidden" id="delete-movie-id" name="movieId">
                <h2>Czy na pewno chcesz usunąć ten film?</h2>
                <h3 id="delete-movie-title"></h3>
                <img id="delete-movie-image" width="200px">

                <div class="button-container">
                    <button type="button" class="navigate-button" onclick="document.getElementById('confirm-delete-movie-dialog').close()">ANULUJ</button>
                    <button type="submit" class="navigate-button">USUŃ</button>
                </div>
            </form>
        </dialog>
    </main>

    <script>
        function openDeleteDialog(button) {
            let movieId = button.getAttribute("data-id");
            let movieTitle = button.getAttribute("data-title")
            let movieImage = button.getAttribute("data-image")

            document.getElementById('delete-movie-id').value = movieId;
            document.getElementById('delete-movie-title').textContent = movieTitle;
            document.getElementById('delete-movie-image').src = 'data:image/jpeg;base64,' + movieImage;

            document.getElementById("confirm-delete-movie-dialog").showModal();
        }
    </script>
    </body>
</html>

